* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

:root[data-theme="light"] {
  --color-primary: #2563eb;
  --color-primary-light: #3b82f6;
  --color-primary-dark: #1d4ed8;

  --color-secondary: #7c3aed;
  --color-secondary-light: #8b5cf6;
  --color-secondary-dark: #6d28d9;

  --color-accent: #f59e0b;
  --color-accent-light: #fbbf24;
  --color-accent-dark: #d97706;

  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-error: #ef4444;

  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;

  --color-background: #ffffff;
  --color-text: #111827;
  --color-text-secondary: #4b5563;
}

:root[data-theme="dark"] {
  --color-primary: #1e90ff; /* ye btn or sidebar bg
  /* Dodger Blue */
  --color-primary-light: #3ea6ff;
  /* Lighter blue */
  --color-primary-dark: #1c75d8;

  --color-secondary: #8a2be2;
  /* Blue Violet */
  --color-secondary-light: #a66bff;
  --color-secondary-dark: #6a1bbf;

  --color-accent: #ffa500;
  /* Soft Orange */
  --color-accent-light: #ffbb33;
  --color-accent-dark: #cc8400;

  --color-success: #22c55e;
  /* Soft green */
  --color-warning: #eab308;
  /* Yellow-ish warning */
  --color-error: #ef4444;
  /* Red */

  --color-gray-100: #1f1f1f; /*dashboar bg */
  --color-gray-200: #a29e9e; /*Outlines */
  --color-gray-300: #333333; /*sidebar designation */
  --color-gray-400: #444444; /*sidebar items */
  --color-gray-500: #555555;
  --color-gray-600: #666666;
  --color-gray-700: #777777;
  --color-gray-800: #888888; /*sidebar outlines */
  --color-gray-900: #999999; /*sidebar bg */

  --color-background: #a29e9e; /*top nav bg */
  /* Dark Background */
  --color-text: rgb(101, 101, 202) ;
  /* Soft White */
  --color-text-secondary: #aaa1a1;
  /* Muted Gray */
}